/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-dic-2016, 17:08:06
    Author     : eli
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab');

*{
    margin: 0px;
    padding: 0px;
}
body {
    width: 100%;
}
#principal{
    width: 100%;
    height: 100vh !important;
}
#cover{
    width: 100%;
    height: 100vh;    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}
#nav{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
}
#socialMedia{
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#facebook{
    position: relative;
    top: -30px;
    left: 10px;
    width: 200px; 
    height: 80px;
    background-image: url('../img/facebook-login.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#contenedorEnlaces{
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#contenedorEnlaces button, #contenedorEnlaces a{
    font-size: 1.3em;
    text-decoration: none;
    color: #B8B8B8;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.5s linear;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 4%;
    text-shadow: 1px 1px 3px black, 1px 1px 3px black, 1px 1px 3px black, 1px 1px 3px black;
}
#contenedorEnlaces button:hover, #contenedorEnlaces a:hover{
    color: #993d00;    
    text-shadow: 1px 1px 3px black, 1px 1px 3px black, 1px 1px 3px black, 1px 1px 3px black;
}
#logoSlogan{
    position: fixed;
    top:18%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#logo{
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 185px;
    height: 185px;
    align-self: flex-start;
    margin-left: 9%;
}
#slogan{
    font-size: 3em;    
    color: #B8B8B8;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 3px black, 1px 1px 3px black, 1px 1px 3px black, 1px 1px 3px black;
    align-self: center;
    margin-right: 4%;
}

#slogan span{
    color: #993d00;
}
#more, #less{
    background-color: #F0F0F0;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px black;
    text-decoration: none;
    cursor: pointer;    
    transition: background-color .35s linear, color 0.35s linear;
    margin-bottom: 5%;
    font-size: 2em;
    color: #993d00;
    font-weight: bold;  
    z-index: 50;
}
    #more:hover, #less:hover{
        background-color: rgb(153,61,0);
        color: #B8B8B8;
    }

#informacion{
    width: 100%;
    background-color: rgba(255,255,255, 1);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
    z-index: 30;
}
#deporte, #equipo, #evento{
    padding-top: 2%;
    padding-bottom: 2%;
    border-right: 1px solid #B8B8B8;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
}
.pasos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.pasos p{
    width: 40px !important;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ff8533;
    color: white !important;
    font-size: 1.3em;
}
#informacion div h2{
  color: #282828; 
}
#informacion div h2 span{
    color: #993d00;
    font-size: 1.2em;
}
#informacion div p{
    width: 90%;
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    color: #585858 ;
}
#evento{
    border: none !important;
}
footer{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
}
footer div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
footer a{
    text-decoration: none;
    color: #B8B8B8;
    font-style: italic;
    font-size: 0.9em;
    width: 40px;
    height: 40px;
}
.facebook{
    background-image: url('../img/face.png');
    background-size: cover;
}
.twitter{
    background-image: url('../img/twitter.png');
    background-size: cover;
}
.instagram{
    background-image: url('../img/insta.png');
    background-size: cover;
}
.linkedin{
    background-image: url('../img/link.png');
    background-size: cover;
}
/*
*   Estilos del formulario de Login
*/
#formularioLogin, #formularioLoginMovil, #formularioRegistroMovil{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(255,255,255,0.6); 
    z-index: 30;
    /*display: flex;*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    display: none;
}
#formularioLogin #contenedorFormularioLogin, #formularioLoginMovil #contenedorFormularioLoginMovil, #formularioRegistroMovil #contenedorFormularioRegistroMovil{
    width: 35%;
    height: 25%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    box-shadow: 3px 3px 10px black;
    padding: 1%;
}

.contenedorInput {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}
.mensaje{
    width: 7%;
    height: 33px;
    margin-left: 2%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100%;
}
#formularioLogin #contenedorFormularioLogin input, #formularioLoginMovil #contenedorFormularioLoginMovil input, #formularioRegistroMovil #contenedorFormularioRegistroMovil input{
    width: 90%;
    height: 100%;
    height: 28%;
    border: none;
    font-size: 2em;
    border-bottom: 1px solid #B8B8B8;
    background-color: white;
}
#formularioLogin #contenedorFormularioLogin input:focus, #formularioLoginMovil #contenedorFormularioLoginMovil input:focus, #formularioRegistroMovil #contenedorFormularioRegistroMovil input:focus{
    border-bottom: 1px solid #993d00;
}

.cerrarFormularioLogin{
    position: absolute;
    top: 5%;
    left: 90%;
    width: 50px;
    height: 50px;
    background-image: url('../img/close1.png');
    background-size: cover;
}
.cerrarFormularioLogin:hover {
    cursor: pointer;
}
.botonLogin{
    display: none;
    position: absolute;
    top: 38%;
    left: 68%;
    width: 100px !important;
    height: 100px !important;
    background-image: url('../img/sigue1.png');
    background-size: cover;
    border: none !important;
    background-color: transparent !important;
}
.botonLogin:hover {
    cursor: pointer;
}
/*
* Estilos del formulario de registro
*/
#formularioRegistro{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(255,255,255,0.6); 
    z-index: 30;
    /*display: flex;*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    display: none;
}
#formularioRegistro #contenedorFormularioRegistro{
    width: 48%;
    height: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    box-shadow: 3px 3px 10px black;    
    padding: 1%;
    margin-left: 2%;
}
.contenedorInputformularioRegistro {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}
.mensaje{
    width: 7%;
    height: 33px;
    margin-left: 2%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100%;
}
#formularioRegistro #contenedorFormularioRegistro input{
    width: 90%;
    height: 100%;
    height: 28%;
    border: none;
    font-size: 2em;
    border-bottom: 1px solid #B8B8B8;
    background-color: white;
}
#formularioRegistro #contenedorFormularioRegistro input:focus{
    border-bottom: 1px solid #993d00;
}
#formularioRegistro #contenedorFormularioRegistro #siguiente, #enviarFormulario{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: #993d00;
    background-color: white;
    border: none;
    cursor: pointer;    
    font-weight: bold;
    font-size: 2.8em;
    margin-top: 4%;
}
#formularioRegistro #contenedorFormularioRegistro #siguiente:hover, #enviarFormulario:hover{
    background-color: #993d00;
    color: white;
}
#formularioRegistro #contenedorFormularioRegistro input[type="submit"]{
    width: 30%;
    height: 15%;
    color: #993d00;
    background-color: white;
    border: none;
    cursor: pointer;    
    font-weight: bold;
    margin-top: 4%;
}
#formularioRegistro #contenedorFormularioRegistro input[type="submit"]:hover, #formularioRegistro #contenedorFormularioRegistro input[type="submit"]:focus{
    background-color: #993d00;
    color: white;
}

.cerrarFormularioRegistro{
    position: absolute;
    top: 5%;
    left: 90%;
    width: 50px;
    height: 50px;
    background-image: url('../img/close1.png');
    background-size: cover;
}
.cerrarFormularioRegistro:hover {
    cursor: pointer;
}
.mandarDatos{
    display: none;
    position: absolute;
    top: 40%;
    left: 75%;
    width: 100px;
    height: 100px;
    background-image: url('../img/sigue1.png');
    background-size: cover;
}
.mandarDatos:hover {
    cursor: pointer;
}

#loader{
    position: absolute;
    left:43%;
    top: 30%;
    width: 200px;
    height: 200px;
}
#toast {
    font-size: 1.3em;
    color: white;
    font-family: 'Montserrat', sans-serif;
    visibility: hidden; 
    width: 300px;
    height: 30px;
    background-color: rgba(64,64,64, 0.9);
    color: #fff;
    text-align: center; 
    border-radius: 10px;
    padding: 16px; 
    position: fixed;
    left: 38%;
    top: 2px;
}
#toast.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
#explorarFormulario{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(24,24,24,0.7); 
    z-index: 30;
    /*display: flex;*/
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    display: none;
}
#explorarFormulario input[type=text] {
    margin-top: 5%;
    width: 40%;
    height: 60px;
    color: white;
    background-color: transparent;
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-bottom: 1px solid grey;
    margin-left: 1%;
    animation-fill-mode: forwards;
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
}

input[type=text]:focus {
     animation: searchAnimation 0.5s;
}
@keyframes searchAnimation {
    from {width: 40%;}
    to {width: 80%; }
}
.cerrarExplorar{
    position: absolute;
    top: 5%;
    left: 90%;
    width: 50px;
    height: 50px;
    background-image: url('../img/close2.png');
    background-size: cover;
}
.cerrarExplorar:hover {
    cursor: pointer;
}
.contenedorTabla{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}
#explorarEventosTabla{
    display: none;
    width: 100%;
    border-collapse: collapse;
    margin-top: 1%;
    overflow-y: scroll;
    
}
#explorarEventosTabla tr th{
    padding-top: 1%;
    padding-bottom: 1%;
    color: #B8B8B8;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(128,128,128,0.6);
}
#explorarEventosTabla tr td{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #C8C8C8;
    padding-top: 1%;
    padding-bottom: 1%;
}
/*FONDO*/
.slide{ 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -5; 
}

.slide li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: -50;
    animation: animacionSlide 48s linear infinite 0s; 
}
.slide li:nth-child(1) span { 
    background-image: url('../img/principal.jpg');
}
.slide li:nth-child(2) span { 
    background-image: url('../img/background2.jpg');
    animation-delay: 6s; 
}
.slide li:nth-child(3) span { 
    background-image: url('../img/background3.jpg');
    animation-delay: 12s; 
}
.slide li:nth-child(4) span { 
    background-image: url('../img/background4.jpg');
    animation-delay: 18s; 
}
.slide li:nth-child(5) span { 
    background-image: url('../img/background6.jpg');
    animation-delay: 24s; 
}
.slide li:nth-child(6) span { 
    background-image: url('../img/background6.jpg');
    animation-delay: 30s; 
}
.slide li:nth-child(7) span { 
    background-image: url('../img/background5.jpg');
    animation-delay: 36s; 
}
.slide li:nth-child(8) span { 
    background-image: url('../img/background8.jpg');
    animation-delay: 42s; 
}
@keyframes animacionSlide { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    5% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
a, button, video {
   outline: 0;
}
a:hover, a:active, button:focus, button:hover, button:active, button:focus, video:hover, video:active, video:focus   {
  outline: 0 !important;
}
/*GOTEAM MENSAJE*/
#contenedorGoTeam{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(255,255,255,0.6); 
    z-index: 30;
    /*display: flex;*/
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
}
#contenedorGoTeam #goTeamAbout{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 3px 3px 10px black;
    padding: 1%;
}
#contenedorGoTeam #goTeamAbout video{
    width: 100%;
    height: 90%;;
}
.cerrarGoTeam{
    position: absolute;
    top: 5%;
    left: 90%;
    width: 50px;
    height: 50px;
    background-image: url('../img/close1.png');
    background-size: cover;
}
.cerrarGoTeam:hover {
    cursor: pointer;
}
.abajo{
    position:relative;
    bottom: 0px;
}

@media (max-width: 1024px){ 
    #slogan{
        font-size: 2.8em;    
    }
    #logo{
        width: 180px;
        height: 180px;
    }
    #formularioLogin #contenedorFormularioLogin input, #formularioRegistro #contenedorFormularioRegistro input{
        font-size: 1.6em;
    }
    #contenedorEnlaces{
        width: 80%;
    }
}
@media (max-width: 940px) { 
    #formularioLogin #contenedorFormularioLogin input, #formularioRegistro #contenedorFormularioRegistro input{
        font-size: 1.2em;
    }
    #principal{
        background-position-x: 60%;
    }
    #slogan{
        font-size: 2.6em;    
        color: #B8B8B8;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 1px 1px 3px black, 1px 1px 3px black, 1px 1px 3px black, 1px 1px 3px black;
        align-self: center;
        margin-right: 1%;
    }
    #logo{
        margin-left: 7%;
    }
    #informacion div p{
        font-size: 0.9em;
    }
    #informacion div h2{
        font-size: 1.1em;
    }
}
@media (max-width: 870px) {     
    #contenedorFormularioLoginMovil{
        width: 60% !important;
        height: 40% !important;
    }
    #contenedorFormularioRegistroMovil{
        width: 70% !important;
        height: 70% !important;
    }
    #formularioLoginMovil #contenedorFormularioLoginMovil .contenedorInput input, #formularioRegistroMovil #contenedorFormularioRegistroMovil .contenedorInput input{
        font-size: 1em;
    }
    #formularioLoginMovil #contenedorFormularioLoginMovil .botonLoginMovil, #formularioRegistroMovil #contenedorFormularioRegistroMovil .botonRegistroMovil{
        height: 30px;
        font-size: 0.9em;
        width: 40%;
        border: 1px solid #993d00;  
        cursor: pointer;
        color: black;
        position:relative;
        background-color: transparent;
        border-radius: 0px;
        
    }
    #formularioLoginMovil #contenedorFormularioLoginMovil .botonLoginMovil:hover, #formularioRegistroMovil #contenedorFormularioRegistroMovil .botonRegistroMovil:hover{
        background-color: #993d00;  
        color: white;
    }
    #formularioLoginMovil #contenedorFormularioLoginMovil .botonLoginMovilCerrar, #formularioRegistroMovil #contenedorFormularioRegistroMovil .botonRegistroMovilCerrar {
        margin-right: 3%;
    }
    #principal{
        background-position-x: 60%;
    }
    #slogan{
        font-size: 2.3em; 
    }
    #logo{
        width: 170px;
        height: 170px;
    }
    #more, #less{
        width: 40px;
        height: 40px;
        margin-bottom: 2%;
    }
    #explorarEventosTabla tr td{
        font-size: 0.8em;
    }
    #searchBar{
       font-size: 1.2em !important;
    }
}
@media (max-width: 730px) { 
    #informacion div p{
        font-size: 0.8em;
    }
   #informacion div h2{
        font-size: 0.9em;
    } 
    #formularioLogin form input, #formularioRegistro #contenedorFormularioRegistro input{
        font-size: 1em;
    }
    #explorarEventosTabla tr td{
        font-size: 0.6em;
    }
    .cerrarFormularioLogin, .cerrarFormularioRegistro, .cerrarExplorar, .cerrarGoTeam{
        left: 80%;
    }
}
@media (max-width: 620px) { 
    .cabeceraTabla th{
        font-size: 0.8em !important;
    }
    #contenedorFormularioLoginMovil{
        width: 70% !important;
    }
    #contenedorFormularioRegistroMovil{
        width: 80% !important;
        width: 90% !important;
    }
    #contenedorGoTeam #goTeamAbout{
        height: 30%;
    }
    #principal{
        background-position-x: 60%;
    }
    #slogan{
        font-size: 2em;  
    }
    #nav{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 15%;
    }
    #contenedorEnlaces{
        width: 100%;
        margin: 0;
    }
    #logo{
        width: 120px;
        height: 120px;
    }
    #logoSlogan{
        top: 16%;
    }
    #informacion div p{
        font-size: 0.7em;
    }
   #informacion div h2{
        font-size: 0.7em;
    } 
    #formularioLogin #contenedorFormularioLogin input, #formularioRegistro #contenedorFormularioRegistro input{
        font-size: 0.8em;
    }
    #searchBar{
       font-size: 1em !important;
    }
}

@media (max-width: 510px) { 
    .cabeceraTabla th{
        font-size: 0.7em !important;
    }
    #contenedorFormularioLoginMovil{
        width: 80% !important;
    }
    #informacion *{
        margin: 0px;
        padding: 0px;
        display: auto;
        
    }
    #informacion{
            flex-direction: column;
            align-items: flex-start;
            overflow-y: scroll;
            height: 300px;
            box-sizing: border-box;
        }
    #informacion div p{
        font-size: 1em;
    }
    #informacion div h2{
        font-size: 1.1em !important;
    } 
    #deporte, #evento,#equipo{
        margin-top: 5%;
        position: relative;
        display: initial;
        text-align: center;
    }
    #deporte *, #evento *,#equipo *{
        position: relative;
    }
    #deporte p, #evento p,#equipo p{
        text-align: center;
        margin-left: 3%;
    }
    #deporte{
        margin-top: 2%;
    }
    #logo{
        margin-left: 3%;
    }
    #formularioLogin #contenedorFormularioLogin input, #formularioRegistro #contenedorFormularioRegistro input{
        font-size: 0.6em;
    }    
}
#input{
    outline: none !important;
}


